## CSCI 183 Data Science
### Spam Filtering for Short Messages
#### Ryan Johnson, Grace Nguyen, and Raya Young

Algorithm: Logistic Regression

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
#import missingno as msno

Grab dataset from txt file and ensure it was read correctly.
Store the data in "data"

In [2]:
tsv_file = '/Users/Raya/Desktop/csci183/project/data/spamcollectiondata.tsv'
data = pd.read_table(tsv_file)
data.head()

  class                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
words = data['message'].apply(lambda x: pd.Series(x.split(' ')))
words.head()

,0,1,2,3,4,5,6,7,8,9,...,161,162,163,164,165,166,167,168,169,170
0,Go,until,jurong,"point,",crazy..,Available,only,in,bugis,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ok,lar...,Joking,wif,u,oni...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Free,entry,in,2,a,wkly,comp,to,win,FA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,U,dun,say,so,early,hor...,U,c,already,then,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Nah,I,don't,think,he,goes,to,"usf,",he,lives,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
words.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Columns: 171 entries, 0 to 170
dtypes: object(171)
memory usage: 7.3+ MB

Write a function to get rid of commas and periods in text

In [15]:
def remove_punctuation(df):
    df = df.copy()
    for col in df:
        df[col] = df[col].str.replace(',','')
        df[col] = df[col].str.replace('.','')
        df[col] = df[col].str.replace('!','')
        df[col] = df[col].str.replace(':','')
        df[col] = df[col].str.replace('?','')
    return df

In [16]:
words = remove_punctuation(words)
words.tail()

,0,1,2,3,4,5,6,7,8,9,...,161,162,163,164,165,166,167,168,169,170
5567,This,is,the,2nd,time,we,have,tried,2,contact,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5568,Will,Ã¼,b,going,to,esplanade,fr,home,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5569,Pity,*,was,in,mood,for,that,Soany,other,suggestions,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5570,The,guy,did,some,bitching,but,I,acted,like,i'd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5571,Rofl,Its,true,to,its,name,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN